<div class="flex items-center w-full px-6 py-6 mx-auto mt-10 bg-gray-500 text-white lg:mr-4 sm:mr-2 border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3">
    <div>
      <h3 class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl">By {{comment.author}}</h3>
      <p class="text-sm font-bold text-gray-300">{{comment.date|timesince}} ago</p>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">{{comment.comment}}</p>
    </div>
  </div>