{% extends 'base.html' %}
{% load static %}
{% block category %}{% endblock category %}
{% block content %}
<div class="bg-white rounded-lg shadow-md p-3 hover:shadow-lg item">
    <div class="grid grid-cols-2 gap-8">
        <div>
            <img src="{% static 'images/salad.png' %}" alt="salad"
                class="transform hover:scale-125 transition duration-300">
        </div>
        <div>
            <span class="font-bold text-xl">{{post.title}}</span>
            <span class="block text-gray-600 text-sm">Mango, Orange, Passion fruit</span>
            <span class="block text-custom-yellow mt-4 font-bold text-3xl">$ 6.30</span>
        </div>
    </div>
</div>
    {% for post in reports %}
    <div class="bg-white rounded-lg shadow-md p-3 hover:shadow-lg item">
        <div class="grid grid-cols-2 gap-8">
            <div>
                <img src="{% static 'images/salad.png' %}" alt="salad"
                    class="transform hover:scale-125 transition duration-300">
            </div>
            <div>
                <span class="font-bold text-xl">{{post.title}}</span>
                <span class="block text-gray-600 text-sm">Mango, Orange, Passion fruit</span>
                <span class="block text-custom-yellow mt-4 font-bold text-3xl">$ 6.30</span>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}

