{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center">
    

</div>

<div class="h-screen bg-indigo-100 flex justify-center items-center">
  <div class="lg:w-2/5 md:w-1/2 w-2/3">
    <form class="bg-white p-10 rounded-lg shadow-lg min-w-full" hx-post="{% url 'account_login' %}" hx-swap="innerHTML" hx-target="#home">
      <h1 class="text-center text-xl font-bold mt-2 mb-4">{% trans "Sign Up" %}</h1>
      {% csrf_token %}
      {% for field in form %}
      <div class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none">
          <label class="text-gray-800 font-semibold block my-3 text-md">{{ field.label_tag }}</label>
          {{ field.errors }}
          {% render_field field class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" placeholder=field.name %}
      </div>
      {% endfor %}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="w-full mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans" type="submit">{% trans "Sign In" %}</button>
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
      <div class="socialaccount_ballot">
        <ul class="font-bold text-lg text-center text-blue-200">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>
      {% endif %}
    </form>
    <p class="text-center text-md font-light">Don't have an account? <a class="font-light text-md text-indigo-600" href="{% url 'account_signup' %}">Create</a></p>
  </div>
</div>

{% endblock %}
