{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block content %}
<div class="h-screen bg-indigo-100 flex justify-center items-center">
    <div class="lg:w-2/5 md:w-1/2 w-2/3 ">
    <h1 class="text-center text-xl font-bold m-5 mb-2">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center font-light text-lg">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="bg-white p-10 rounded-lg shadow-lg min-w-full">
        {% csrf_token %}
        {% for field in form %}
        <div class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none">
            <label class="text-gray-800 font-semibold block my-3 text-md">{{ field.label_tag }}</label>
            {{ field.errors }}
            {% render_field field class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" placeholder=field.name %}
        </div>
        {% endfor %}
        <input class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    </div>
{% endblock %}
