{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock title %}
{% block content %}
<div class="bg-gray-300 mx-auto">
    <div class="py-12">
        <div class="bg-white shadow-lg rounded-lg mx-auto w-3/6">
            <div class="md:flex">
                <div class="w-full p-4 px-5 py-5">
                    <div class="flex flex-row">
                        <h2 class="text-3xl font-semibold">idk</h2>
                        <h2 class="text-3xl text-green-400 font-semibold">Edit your Profile</h2>
                    </div>
                    <span>Profile Detail</span>
                    <div class="relative pb-5"> 
                        <input type="text" name="mail" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" placeholder="E-mail"> 
                        <span class="absolute text-blue-500 right-2 top-4 font-medium text-sm">Log out</span> 
                    </div> 
                    <span>Profile Information</span>
                    <form hx-post="{% url 'profile-edit' %}" hx-swap="innerHTML" hx-target="#edited">
                        {% csrf_token %}
                        <div class="grid md:grid-cols-2 md:gap-2"> 
                            <input type="text" name="username" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" 
                            placeholder="Username*" {% if profile.username %} value="{{profile.username }}" {% endif %} > 
                            <input type="test" name="display_name" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" 
                            placeholder="Display name*" {% if profile.display_name %} value="{{profile.display_name }}" {% endif %} > 
                        </div> 
                    
                        <input type="email" name="additional_mail" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" 
                        placeholder="Additional email adress*" {% if profile.additional_mail %} value="{{profile.additional_mail }}" {% endif %} > 
                        <input type="text" name="address" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" 
                        placeholder="Address*" {% if profile.address %} value="{{profile.address }}" {% endif %} >  
                        <input type="text" name="gender" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" 
                        placeholder="Gender [male, female, binary]" {% if profile.gender %} value="{{profile.gender }}" {% endif %} >
                        
                        <div class="grid md:grid-cols-3 md:gap-2"> 
                            <input type="text" name="mail" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" 
                            placeholder="Zipcode*"> 
                            <input type="text" name="mail" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" 
                            placeholder="City*"> 
                            <input type="text" name="mail" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" 
                            placeholder="State*"> 
                        </div> 

                        <input type="text" name="mail" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" placeholder="Country*"> 
                        <input type="text" name="mail" class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm" placeholder="Phone Number*">
                        <div class="flex justify-between items-center pt-2"> <button type="button" class="h-12 w-24 text-blue-500 text-xs font-medium">Return to cart</button> 
                            <button type="submit"  class="h-12 w-48 rounded font-medium text-xs bg-blue-500 text-white">Update Profile</button> 
                        </div>
                        <p class="text-lg font-bold text-green-700 text-center" id="edited"></p>
                    </form>
                </div>
            
            </div>
        </div>
    </div>
</div>
{% endblock content %}