{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}
<div class="bg-gray-200 py-20 px-3">
    <div class="mx-auto md:max-w-lg">
        <div class="w-full">
            <div class="p-3 rounded text-center py-5">
                <div class="flex justify-center"> 
                    <img class="rounded-full" src="https://i.imgur.com/TcyQLXx.jpg" width="100"> 
                </div>
                <div class="text-center">
                    <h1 class="text-2xl mt-2">{{profile.username}}</h1>
                    <div class="px-5 text-sm">
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="flex justify-between mt-3 px-4">
                        <div class="flex flex-col"> 
                            <span class="font-bold text-2xl">97</span> 
                            <span class="text-sm text-pink-800">Orders</span> 
                        </div>
                        <div class="flex flex-col"> <span class="font-bold text-2xl">197</span> 
                            <span class="text-sm text-pink-800">Star</span> 
                        </div>
                        <div class="flex flex-col"> 
                            <span class="font-bold text-2xl">47</span> 
                            <span class="text-sm text-pink-800">Collection</span> 
                        </div>
                    </div>
                    <div class="flex flex-row px-4 mt-4"> 
                        <button 
                        hx-get="{% url 'profile-edit' %}" hx-swap="innerHTML" hx-target="#body" hx-push-url="/accounts/profile/edit/" 
                        class="h-10 w-full text-white text-md rounded bg-pink-400 hover:bg-pink-500"
                        >Edit</button> 
                        <button class="h-10 w-full text-white text-md rounded bg-pink-400 hover:bg-pink-500 ml-2">Message</button> </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <p class="text-pink-700 uppercase mx-5 text-xl text-center font-bold transform " >Collections:</p>
    <div class="flex justify-center space-x-1 dark:text-coolGray-100">
        <div class="flex h-full grid-cols-12 gap-10 pb-10 mt-8 sm:mt-16">
            <div class="grid grid-cols-12 col-span-12 gap-7">
                {% for blog in profile.collections.all %}
                <div class="flex flex-col items-start col-span-12 overflow-hidden shadow-sm rounded-xl md:col-span-6 lg:col-span-4"
                    hx-get="{% url 'blog-detail' blog.slug %}" hx-target="#body" hx-trigger="click" hx-swap="innerHTML" hx-push-url="/blog/{{blog.slug}}/"
                >
                    <a href="#_" class="block transition duration-200 ease-out transform hover:scale-110">
                        <img class="object-cover w-full shadow-sm h-full" src="https://images.unsplash.com/photo-1579621970563-ebec7560ff3e?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1951&amp;q=80">
                    </a>
                    <div class="relative flex flex-col items-start px-6 bg-white border border-t-0 border-gray-200 py-7 rounded-b-2xl">
                        <div class="bg-indigo-400 absolute top-0 -mt-3 items-center px-3 py-1.5 leading-none w-auto rounded-full text-xs font-medium uppercase text-white inline-block">
                            {% for tag in blog.tags.all %}
                            <span>{{tag}}</span>
                            {% endfor %}
                        </div>
                        <h2 class="text-base text-gray-500 font-bold w-full sm:text-lg md:text-xl"><a href="#_">{{blog.title|truncatewords:15}}</a></h2>
                    </div>
                </div>
                {% endfor %}
                
            </div>
    
        </div>
    </div>
</div>
{% endblock content %}