{% load static %}
<aside
    class="transform top-0 right-0 w-full md:w-2/5 shadow-2xl bg-white fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30 translate-x-full"
    id="side-panel">
    <div class="p-8">
        <button class="bg-gray-200 py-2 px-6 rounded-full" id="close-side-panel"><i
                class="fas fa-times"></i></button>
        <main class="text-center">
            <img src="images/pizza.png" alt="burger" class="w-56 mx-auto mt-16 mb-8">
            <span class="font-bold text-3xl">{{food.name}}</span>
            <span class="block text-gray-600 text-sm">Pepperoni, Mozzarella, Tomato sauce</span>
            <span class="block text-custom-yellow mt-6 font-bold text-3xl">$ 1.00 <small
                    class="text-sm">/slice</small></span>
            <span class="block mt-8">
                <p class="text-center tracking-tight font-light text-gray-400">{{food.description}}</p>
            </span>
            <button class="rounded-lg bg-pink-500 text-white px-4 py-2 font-bold mt-6">Add to Order</button>
        </main>
    </div>
</aside>