{% extends 'base.html' %}


{% block head %}
<meta name="description" property="og:description" content="{{food.description}}">
<meta name="keywords" content="{{food.name}},{{food.restaurant.name}},iraf {{food.name}} ">
<meta name="author" content="Admin">

<meta property="og:url" content="{{food.get_absolute_url}}"> />
<meta property="og:title" content="{{food.name}}" />
<meta property="og:image" content="{{food.image}}" />
<meta property="og:image:alt" content="{{food.name}}" />

<meta name="twitter:image" content="{{food.image}}" />
<meta property="twitter:image:alt" content="{{food.title}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@HeednGrow" />

{% endblock head %}
{% block title %}<title>{{food.title}} from {{food.restaurant}}</title>{% endblock title %}

{% block content %}
<!-- component -->
<section class="text-gray-700 body-font  bg-white">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src="https://images.food52.com/e6RyxggWQpBwCPcd3kugqz01J54=/2016x1344/filters:format(webp)/583d2633-65c0-43d6-9b52-cba0c8fa1399--2019-1210_nigerian-jollof-rice_3x2_rocky-luten_006.jpg">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{food.restaurant.name}}</h2>
          <h1 class="text-green-700 text-3xl title-font font-medium mb-1">{{food.name}} </h1>
          <div class="flex mb-4">
            <span class="flex items-center">
              <div x-data="{ temp: {{food.star}}, orig: {{food.star}} }" class="flex cursor-pointer md:text-4xl">
                <input type="number" :value="orig" class="hidden"/>
              
                <template x-if="orig != null">
                  <span class="text-gray-400 hover:text-gray-700" @mouseenter="temp = null" @mouseleave="temp = orig">{{food.star}}</span>
                </template>
              
                <template x-for="item in [1,2,3,4,5]">
                 <span @mouseenter="temp = item" 
                       @mouseleave="temp = orig"
                       class="text-gray-300"
                       :class="{'text-red-600': ({{food.star|floatformat}} >= item)}">★</span>
                </template>
              </div>
            </span>
            
          </div>
          <p class="leading-relaxed">{{food.description}}</p>
          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
            <div class="flex">
              <span class="mr-3 font-bold uppercase">will you try it?</span>
            </div>
            
          </div>
          <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900"> &#8358; {{ food.price }}</span>
            <button id="likefood" class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded" 
              hx-post="{% url 'food-try' food.pk %}" hx-trigger="click" hx-target="#likefood" hx-swap="innerHTML"
            >Like</button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-sm uppercase font-bold text-center p-1 text-gray-400">You'll be able to order from your favorite restaurant soon, we're working on it.</p>
  </section>

{% endblock content %}


