{% extends 'base.html' %}
{% block title %} Restaurants{% endblock title %}
{% block content %}
<p class="text-sm uppercase font-bold text-center p-1 text-gray-400">You'll be able to order from your favorite restaurant soon, we're working on it.</p>
<div class="container mb-2 flex mx-auto w-full items-center justify-center">
    <div class="flex items-center justify-start mt-4 mb-4">
        {% for category in categories %}
            <a href="#"class="px-2 py-1 font-bold bg-red-400 text-white rounded-lg hover:bg-gray-500 mr-4">{{category}}</a>
        {% endfor %}
    </div>
    <ul class="flex w-5/6 items-center justify-center flex-col p-4">
        {% for restaurant in page_obj %}
            <li class="border-gray-400  m-6 w-full flex flex-row"
            hx-get="{% url 'restaurant_detail' restaurant.slug %}" hx-trigger="click" hx-target="body" hx-swap="innerHTML" hx-push-url="{% url 'restaurant_detail' restaurant.slug%}"
            >
                <div class="select-none flex flex-1 items-center transition duration-500 ease-in-out transform hover:-translate-y-2 rounded-2xl border-2 p-6 hover:shadow-2xl border-pink-400">
                    <div class="flex-1 pl-1 mr-16">
                        <div class="font-medium text">
                            {{restaurant.name}}
                        </div>
                    </div>
                    <div class="text-wrap text-center flex text-white text-sm md:text-bold flex-col rounded-md bg-pink-500 justify-center items-center p-2">
                        <p class="block">
                            <div x-data="{ temp: 2, orig: 2 }" class="flex cursor-pointer text-xl md:text-4xl">
                                <input type="number" :value="orig" class="hidden"/>
                              
                              
                                <template x-for="item in [1,2,3,4,5]">
                                 <span @mouseenter="temp = item" 
                                       @mouseleave="temp = orig"
                                       class="text-gray-300"
                                       :class="{'text-red-600': ({{restaurant.review}} >= item)}">★</span>
                                </template>
                              </div>
                        </p>
                        <p class="block">
                            {{ restaurant.num_reviews }} users
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div aria-label="Page navigation" class="inline-flex">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="h-10 px-5 text-indigo-600 transition-colors duration-150 bg-white rounded-l-lg focus:shadow-outline hover:bg-indigo-100" hx-get="?page=1" hx-target="body">&laquo; first</a>
            <a class="h-10 px-5 text-white transition-colors duration-150 bg-indigo-600 focus:shadow-outline" hx-get="?page={{ page_obj.previous_page_number }}" hx-target="body">previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="h-10 px-5 text-indigo-600 transition-colors duration-150 bg-white focus:shadow-outline hover:bg-indigo-100" hx-get="?page={{ page_obj.next_page_number }}" hx-target="body">next</a>
            <a class="h-10 px-5 text-indigo-600 transition-colors duration-150 bg-white focus:shadow-outline hover:bg-indigo-100"  hx-get="?page={{ page_obj.paginator.num_pages }}" hx-target="body">last &raquo;</a>
        {% endif %}
        
        <span class="h-10 px-5 text-indigo-600 transition-colors duration-150 bg-white focus:shadow-outline hover:bg-indigo-100">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    </span>
</div>
<p class="text-sm uppercase font-bold text-center p-1 text-gray-400">You'll be able to order from your favorite restaurant soon, we're working on it.</p>

{% endblock content %}