{% extends 'base.html' %}
{% block title %}{{ restaurant.name }}{% endblock title %}
{% block content %}
<div id="menu" class="container mx-auto px-4 lg:pt-24 lg:pb-64">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold text-black">Our Menu</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
          {{restaurant.description}}
        </p>
      </div>
    </div>
    <div class="flex flex-wrap mt-12 justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-6 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-6 gap-4"
            hx-get="{% url 'food' food.pk %}" hx-trigger="click" hx-target="body" hx-swap="innerHTML" hx-push-url="/restaurants/food/{{food.pk}}/"
        >
            {% for food in foods %}
                <div class="col-span-2 sm:col-span-1 xl:col-span-1">
                    <img
                    alt="..."
                    src="https://source.unsplash.com/gUBJ9vSlky0"
                    class="h-24 w-24 rounded  mx-auto"
                    />
                </div>
                <div class="col-span-2 sm:col-span-4 xl:col-span-4">
                    <h3 class="font-semibold text-black">{{food.name}}</h3>
                    <p>
                    {{food.description|truncate_word:15}}
                    </p>
                </div>
                <div class="col-span-2 sm:col-span-1 xl:col-span-1 italic ">&#8358; {{food.price}}</div>
            {% endfor %}    
        </div>
    </div>
</div>

{% endblock content %}