{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>{% block title %} iRAF {% endblock title %}</title>
    {% comment %} <script src="https://unpkg.com/htmx.org@1.6.1"></script> {% endcomment %}
	<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script src="https://kit.fontawesome.com/c3b2df9771.js" crossorigin="anonymous"></script>
	
	{% tailwind_css %}
</head>
	<body class="text-gray-900 w-screen bg-gray-200 font-body" id="body">
		<!-- wrapper start -->
		<div class="pt-16 px-10 grid lg:grid-cols-6 pb-20" id="home">
			{% include "nav.html" %}
			<main class="md:col-span-5">
				{% include 'topnav.html' %}
				<div class="mt-14" >
					{% block content %}
						<div class="mt-16">
							<div class="">
								{% block category %}
									<span class="font-bold text-2xl md:text-4xl"></span>
									<img src="{% static 'images/salad.svg' %}" class="h-6 w-6 md:h-10 md:w-10 mb-3 ml-1 md:ml-2 inline-flex">
								{% endblock category %}
							</div>
						</div>

						<div class="mt-5 grid md:grid-cols-2 xl:grid-cols-3 sm:grid-cols-2 gap-12">
							
						</div>
					{% endblock content %}
				</div>
				
			</main>
			
		</div>
		{% include 'footer.html' %}



			
			<!--wrapper end-->
			<script>
				document.body.addEventListener('htmx:configRequest', (event) => {
					event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
				  })
			</script>
		<script src="{% static 'js/htmx.js' %}"></script>
		<script src="{% static 'js/nav.js' %}"></script>
		<script src="{% static 'js/items.js' %}"></script>
	</body>
</html>

