<footer class="bg-gray-800 dark:bg-gray-800 w-screen py-8">
    <div class="max-w-screen-xl mx-auto mt-20 px-4">
        <ul class="max-w-screen-md mx-auto text-lg font-light flex justify-between flex-wrap">
            <li class="my-2">
                <a class="text-gray-300 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">
                    Contact
                </a>
            </li>
            <li class="my-2">
                <a class="text-gray-300 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">
                    Facebook
                </a>
            </li>
            <li class="my-2">
                <a class="text-gray-300 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">
                    Twitter
                </a>
            </li>
            <li class="my-2">
                <a class="text-gray-300 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">
                    About
                </a>
            </li>
        </ul>
        
        <div class="max-w-3xl px-6 py-16 bg-gray-800 dark:bg-gray-800 mx-auto text-center">
            <h1 class="text-3xl font-semibold text-pink-700 dark:text-gray-100">Wants to get intouch with us?</h1>
            <p class="max-w-md mx-auto mt-5 text-gray-500 dark:text-gray-400">The easiest way to get intouch with us is by joining our network, this way, you get informed anytime there is a new update that you'll love to check out. Also we dont spam.</p>

            <div class="flex flex-col mt-8 space-y-3 sm:space-y-0 sm:flex-row sm:justify-center sm:-mx-2">
              {% include "newsletter.html" %}
            </div>
        </div>

            <div class="text-center text-gray-300 dark:text-gray-200 pt-10 sm:pt-12 font-light flex items-center justify-center">
                HeednGrow copyright 2021
            </div>
        </div>
    </footer>