<!-- nav start -->
<div class="lg:col-span-1">
    <nav>
        <div class="flex justify-between mb-6 px-2 md:mb-16">
            <h1 class="font-bold uppercase">
                <a href="index.html" class="text-xl"><i class="fas fa-user-ninja mr-2"></i>iRaf <span
                        class="text-red-700">Dicee</span></a>
            </h1>
            <div class="px-4 cursor-pointer lg:hidden" id="open-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <ul class="hidden lg:block mr-10 mb-10" id="menu">
            <li class="my-3">
                <a class="rounded-lg py-2 px-3 text-md tracking-wider font-bold bg-custom-yellow block"
                    href="items-4.html">
                    <i class="fas fa-carrot mr-2"></i>
                    <span>Salads</span>
                </a>
            </li>
            <li class="my-3">
                <a class="rounded-lg py-2 px-3 text-md tracking-wider font-bold" href="items-1.html">
                    <i class="fas fa-hamburger mr-2"></i>
                    <span>Burgers</span>
                </a>
            </li>
            <li class="my-3">
                <a class="rounded-lg py-2 px-3 text-md tracking-wider font-bold" href="items-3.html">
                    <i class="fas fa-pizza-slice mr-2"></i>
                    <span>Pizza</span>
                </a>
            </li>
            <li class="my-3">
                <a class="rounded-lg py-2 px-3 text-md tracking-wider font-bold" href="items-2.html">
                    <i class="fas fa-beer mr-2"></i>
                    <span>Beverages</span>
                </a>
            </li>
            <div class="mt-16">
                <span class="px-3 text-gray-500">Other</span>
                <li class="my-3">
                    <a class="rounded-lg py-2 px-3 text-md tracking-wider font-bold" href="orders-1.html">
                        <i class="fas fa-redo-alt mr-2"></i>
                        <span>My Orders</span>
                    </a>
                </li>
                <li class="my-3">
                    <a class="rounded-lg py-2 px-3 text-md tracking-wider font-bold" href="profile.html">
                        <i class="fas fa-user-alt mr-2"></i>
                        <span>Profile</span>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
</div>
<!--nav end-->
